.header {
  width: 100%;
  background: blue;
  height: 50px;
  line-height: 50px;
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .menu {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    padding: 0 10px;
    text-decoration: none;

    // a {
    //   color: inherit;
    //   text-decoration: none;
    // }

    &:hover {
      background: black;
    }

    &:last-child {
      margin-right: 30px;
    }
  }
}

.content {
  width: 90%;
  max-width: 2000px;
  padding: 20px;
  margin: 0 auto;
}
