<h1>Accounts</h1>

<!-- <pre>{{ accounts | json }}</pre> -->

Total: ${{ total }}
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th>ID</th>
    <th>Name</th>
    <th>Packages</th>
    <th>Renew</th>
    <th>Expiration</th>
  </tr>
  <tr *ngFor="let account of accounts; let i = index">
    <td class="count">{{ i + 1 }}</td>
    <td class="delete" (click)="delete(account, i)"><div>delete</div></td>
    <td class="edit"><div (click)="redirectProcess(account.id)">edit</div></td>
    <td>{{ account.id }}</td>
    <td>
      {{ account.name }}
      <div>{{ account.url }}</div>
    </td>

    <td>
      <div>Base {{ account.prices.basePrice }}</div>
      <div>Payroll {{ account.prices.payrollPrice }}</div>
      <div>Plot {{ account.prices.plotPrice }}</div>
    </td>
    <td>
      <div *ngIf="account.renewType === 1">Auto Renew</div>
    </td>
    <td>
      <div
        class="expiration-color {{
          expirationColor(account.expiration, account.renewType)
        }}"
      >
        {{ account.expiration }}
      </div>
    </td>
  </tr>
</table>
